*{
text-align: center;
}

#rock, #paper, #scissors, #resetCounters {
    height: 30px;
    min-width: 100px;
}

table{
    margin: auto;
}

table, th, td {
    border:1px solid black;
}
 td {
     width: 80px;
 }